@import '../../styles/variables.scss';
@import '../../styles/placeholders';

.product-details-container{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}

.product-image-large{
    height: 70vh;
    width: 50%;
    display: flex;
    position: relative;
}

.product-image-large{
    img{
        max-height: 100%;
        margin: auto;
        display: block;
        max-width: 90%;
    }
}

.image-container{
    width: 90%;
    position: relative;
}

.product-thumbs{
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}

.product-thumbs{
    img{
        border: 1px solid;
        margin: 10px 0;
        padding: 5px;
    }
}

.product-details{
    width: 50%;
    position: relative;
}

.mouseover-selector{
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: $product-detail-mouseover-selector;
    opacity: 1;
}

.magnifier-canvas{
    position: absolute;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: $magnifier-canvas-background-color;
    z-index: 200;
}

.magnified-image{
    position: absolute;
    
}

.product-detail-features{
    margin: 10px 0;
    text-decoration: underline;
}

.product-detail-store{
    text-decoration: underline;
    font-size: 0.8rem;
}

.product-detail-select-option-text{
    margin: 10px 0;
    text-decoration: underline;
}

.product-detail-text{
    margin: 10px 0;
    text-decoration: underline;
}

.selected-varient{
    display: inline-flex;
    width: 100px;
    height: 50px;
    background-color: $selected-varient-background-color;
    border: 1px solid $selected-varient-border-color;
    margin: 0 5px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-selected-varient{
    display: inline-flex;
    width: 100px;
    height: 50px;
    border: 1px solid lightgray;
    margin: 0 5px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.varient-list{
    margin: 10px 0;
    display: flex;
}

.product-detail-details{
    list-style: square;
    margin-left: 15px;
}

.product-detail-details{
    li{
        margin: 5px 0;
    }
   
}





@media  screen and (max-width: 780px){
    .product-details-container{
        flex-direction: column;
    }

    .product-thumbs{
        flex-direction: row;
        align-self: center;
    }

    .product-image-large{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .image-container{
        img{
            max-height: 300px;
            max-width: 100%;
        }
    }

    .image-container{
        width: auto;
    }

    .product-details{
        width: 100%;
    }
    .mouseover-selector{
        display: none !important;
    }

    .magnifier-canvas{
        display: none;
    }

}

@media  screen and (max-width: 400px){

    .product-thumbs {
        img{
            max-width: 50px;
        }
    }
}